body
{
    font-family: "Montserrat";
}
.scrollbar::-webkit-scrollbar {
width: 5px;
}
    
.scrollbar::-webkit-scrollbar-track { 
background: #f6f2f2;

}

.scrollbar::-webkit-scrollbar-thumb { 
background:#7f7f7f;
border-radius: 5px ;
}